@import "../../styles.scss";

.about-container {
  text-align: center;
  padding: 2rem 1rem;
  
  overflow: hidden;

  h2.about-title {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #f6a7c1, #e67c97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease-out forwards;
  }

  .about-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
    border-bottom: 2px solid #f6a7c1;
    display: inline-block;
    padding-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1.2s ease-out forwards;
  }

  .timeline {
    position: relative;
    margin: 2rem auto;
    max-width: 900px;
    padding: 0;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 4px;
      background: linear-gradient(to bottom, #f6a7c1, #e67c97);
      transform: translateX(-50%);
      z-index: 1;
    }

    .timeline-item {
      display: flex;
      align-items: center;
      margin: 2rem 0;
      position: relative;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      .timeline-dot {
        width: 20px;
        height: 20px;
        background: #f6a7c1;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        box-shadow: 0 0 10px rgba(246, 167, 193, 0.5);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }

      .timeline-content {
        width: 45%;
        background: #fef8e7;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(20px);
        transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
        animation: fadeInUp 1.5s ease-out forwards;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }

        h3 {
          font-size: 1.5rem;
          color: #b16e4b;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          color: #555;
          margin: 0.5rem 0;
        }

        span {
          font-size: 0.9rem;
          color: #888;
        }
      }
    }
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .timeline {
      padding: 0 1rem; /* Garante espaçamento lateral no mobile */
    }

    .timeline .timeline-item .timeline-content {
      padding: 0.5rem;
      h3 {
        font-size: 1.2rem; /* Ajusta tamanho do título no mobile */
      }
      p {
        font-size: 0.9rem; /* Ajusta tamanho do texto no mobile */
      }
      span {
        font-size: 0.8rem; /* Ajusta tamanho da data no mobile */
      }
    }
  }

  .resume-button {
    padding: 0.75rem 2.5rem;

    a {
      color: inherit; /* Garante que a cor do texto siga o estilo do botão */
      text-decoration: none;
    }
  }

  button {
    margin-top: 2rem;
    padding: 0.75rem 2.5rem;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #f5b5cb, #e67c97);
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background: linear-gradient(to right, #e67c97, #f5b5cb);
      transform: translateY(-3px);
    }
  }
}

/* Animações */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
