<div class="about-container" id="about">
  <h2 class="about-title">{{ 'ABOUT_ME' | translate }}</h2>
  <p class="about-subtitle">{{ 'Here’s a quick glance at my journey so far.' | translate }}</p>
  <div class="line-decorator"></div>

  <div class="timeline">
    <div class="timeline-item" *ngFor="let item of timeline">
      <div class="timeline-dot" title="{{ item.title | translate }}"></div>
      <div class="timeline-content">
        <h3>{{ item.title | translate }}</h3>
        <p>{{ item.description | translate }}</p>
        <span>{{ item.date }}</span>
      </div>
    </div>
  </div>

  <button class="resume-button" (click)="downloadResume()">
    {{ 'Download CV' | translate }}
  </button>  
  <p class="mt-2"> {{ 'cv' | translate }}</p>
</div>