@import "../../styles.scss";


/* Animações */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.projects-container {
  text-align: center;
  padding: 2rem 1rem;
  overflow: hidden;
  min-height: calc(100vh - 80px);
  border-radius: 8px;
}

h2.projects-title {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #f6a7c1, #e67c97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s ease-out forwards;
}

h3.projects-title {
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to right, #f6a7c1, #e67c97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s ease-out forwards;
}

.projects-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
  border-bottom: 2px solid #f6a7c1;
  display: inline-block;
  padding-bottom: 0.5rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.2s ease-out forwards;
}

.portfolio-container {
  max-width: 1200px;
  width: 70%;        
  margin: 0 auto;    
  padding: 20px;
  text-align: center;

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
    justify-items: center;

    .card {
      width: 100%;
      height: 55vh; 
      background-color: #fdf5e6;
      border-radius: 15px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                  -5px -5px 10px rgba(255, 255, 255, 0.8);
      overflow: hidden;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 10px;
      transform: scale(1);

      &:hover {
        transform: scale(1.05);
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15),
                    -8px -8px 16px rgba(255, 255, 255, 0.9);
      }

      .image-slider {
        position: relative;
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          position: absolute;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }

        img.active {
          opacity: 1;
        }

        .dots {
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          gap: 5px;

          span {
            width: 8px;
            height: 8px;
            background: #ccc;
            border-radius: 50%;
            cursor: pointer;
            transition: background 0.3s;

            &.active {
              background: #4682B4;
            }
          }
        }
      }

      h3 {
        font-size: 18px;
        margin: 2em 0 8px;
        color: #5f5c6b;
      }

      .view-btn {
        align-self: center;
        width: 80%;
        padding: 8px;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}

/* Media Query para telas até 1024px (inclui tablets e celulares) */
@media (max-width: 1024px) {
  .portfolio-container {
    width: 100%;
    margin: 0 auto; 
    padding: 10px;
  }
  .gallery {
    grid-template-columns: 1fr !important;
  }
}


button {
  margin-top: 2rem;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #f5b5cb, #e67c97);
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #e67c97, #f5b5cb);
    transform: translateY(-3px);
  }
}