<div class="projects-container">
  <h2 class="projects-title">{{ 'projectsTitle' | translate }}</h2>
  <p class="projects-subtitle">{{ 'projectsSubtitle' | translate }}</p>
  <div class="line-decorator"></div>
  <mat-tab-group>
    <mat-tab *ngFor="let project of projects" label="{{ project.title | translate }}">
      <div class="project-card">
        <img [src]="project.image" alt="{{ project.title | translate }}" class="project-image" />
        <h3>{{ project.title | translate }}</h3>
        <p>{{ project.description | translate }}</p>
        
        <button class="project-link" (click)="openLink(project.link)">
          {{ 'viewOnGithub' | translate }}
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
