<div class="projects-container">
  <h2 class="projects-title">{{ 'projectsTitle' | translate }}</h2>
  <p class="projects-subtitle">{{ 'projectsSubtitle' | translate }}</p>
  <div class="line-decorator"></div>
  <div class="portfolio-container">
    <div class="gallery">
      <div *ngFor="let project of projects" class="card">
        <div class="image-slider">
          <img *ngFor="let imagem of project.images; let idx = index" [src]="imagem"
            [class.active]="idx === project.currentImageIndex">
          <div class="dots">
            <span *ngFor="let imagem of project.images; let idx = index"
              [class.active]="idx === project.currentImageIndex" (click)="selectImage(project, idx)"></span>
          </div>
        </div>
        <h3 class="projects-title">{{ project.title |translate }}</h3>
        <button class="view-btn" [routerLink]="['/project', project.id]">{{'viewMore' | translate}} </button>
      </div>
    </div>
  </div>