<div class="contact-container">
  <h2 class="contact-title">{{ 'contact.title' | translate }}</h2>
  <p class="contact-subtitle">{{ 'contact.subtitle' | translate }}</p>

  <div class="contact-options">
    <a href="https://wa.me/11959092505" target="_blank" class="contact-option">
      <i class="fa-brands fa-whatsapp"></i> {{ 'contact.whatsapp' | translate }}
    </a>
    <a href="mailto:alinenink@outlook.com" class="contact-option">
      <i class="fa-solid fa-envelope"></i> {{ 'contact.email' | translate }}
    </a>
    <a href="https://linkedin.com/in/alinenink" target="_blank" class="contact-option">
      <i class="fa-brands fa-linkedin"></i> {{ 'contact.linkedin' | translate }}
    </a>
  </div>
</div>
