<div class="contact-container">
    <h2>Contact Me</h2>
    <p>Feel free to reach out through the options below:</p>
  
    <!-- WhatsApp -->
    <a [href]="whatsappLink" target="_blank" class="contact-link">
      <mat-icon>whatsapp</mat-icon> Chat on WhatsApp
    </a>
  
    <!-- E-mail -->
    <a href="mailto:alinenink&#64;outlook.com" class="contact-link">
      <mat-icon>email</mat-icon> alinenink&#64;outlook.com
    </a>
  
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/alinenink" target="_blank" class="contact-link">
      <mat-icon>linkedin</mat-icon> LinkedIn Profile
    </a>
  </div>
  