<header class="header">
  <div class="header-links">
    <nav class="navbar" [ngClass]="{ 'open': isMenuOpen }">
      <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">{{ 'home' | translate }}</a>
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">{{ 'aboutMe' | translate }}</a>
      <a routerLink="/skills" routerLinkActive="active" (click)="closeMenu()">{{ 'skills' | translate }}</a>
      <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">{{ 'projects' | translate }}</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">{{ 'contactHeader' | translate }}</a>
    </nav>
    <button class="menu-toggle" (click)="toggleMenu()">
      <i *ngIf="!isMenuOpen" class="fa fa-bars"></i>
      <i *ngIf="isMenuOpen" class="fa fa-times"></i>
    </button>
  </div>

  <div class="header-actions">
    <div class="language-select">
      <select (change)="switchLanguage($event)">
        <option value="en">{{ 'English' | translate }}</option>
        <option value="pt">{{ 'Portuguese' | translate }}</option>
      </select>      
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer-separator"></div>
  <p>© 2024 Aline Nink. {{ 'allRightsReserved' | translate }}</p>
  <p>{{ 'madeBy' | translate }} <span style="color: red;">♥</span> {{ 'alineNink' | translate }}</p>
  <div class="footer-links">
    <a href="https://linkedin.com/in/alinenink">{{ 'linkedIn' | translate }}</a> | 
    <a href="https://github.com/alinenink">{{ 'gitHub' | translate }}</a> | 
    <a href="mailto:alinenink@outlook.com">{{ 'email' | translate }}</a>
  </div>
</footer>
